<div class="w-full h-[1px] bg-forest-green-300 flex gap-10 items-center px-10 font-medium">
  {% comment %}
    <p class="text-[var(--color-text-on-primary)] uppercase align-middle">Together we've planted</p>
    <h2 class="text-[var(--color-text-on-primary)] text-4xl align-middle">117,888,451</h2>
    <p class="text-[var(--color-text-on-primary)] uppercase align-middle">trees</p>
  {% endcomment %}
  {% comment %}
    <p class="text-[var(--color-text-on-primary)] uppercase align-middle">Together we've planted</p>
    <h2 class="text-[var(--color-text-on-primary)] text-4xl align-middle">117,888,451</h2>
    <p class="text-[var(--color-text-on-primary)] uppercase align-middle">trees</p>
    <p class="text-[var(--color-text-on-primary)] uppercase align-middle">Together we've planted</p>
  {% endcomment %}
</div>
