<div class="w-full px-8 text-center">
  <h1 class="pt-8 font-bold text-xl uppercase">{{ page.title }}</h1>
  <div class="py-4 text-left">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
